<div class="col-md-4">

<div class="card">
  
   <img src="{{this.image_url}}" alt="{{this.name}}"/>

  <div class="card-body">
     
   
    <h3 class="card-title">{{this.name}}</h3>
    <h4 class="card-text">{{this.tagline}}</h4>
    <h5 class="card-text">{{this.description}}</h5>
    <h5 class="card-text">{{this.foodPairing}}</h5>
    <h5 class="card-text">{{this.brewerTips}}</h5>
     
    
  </div>
</div>
</div>