
<div class="eachBeer">

{{#each beers}}
  <div class= "container">
    <img src="{{image_url}}" alt="{{name}}">
    <h3>{{name}}</h3>
    <h4>{{tagline}}</h4>
    <h5>{{description}}</h5>
    <h5>{{foodPairing}}</h5>
    <h5>{{brewerTips}}</h5>
  </div>
{{/each}}
</div>     
  <div class="beers">
    
{{#each beer}} 
  <div class= "container">
      {{> simpleCard }} 
      {{> beerPartial }}
  </div>
{{/each}}
  

</div> 